<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
	
	<meta charset="UTF-8" />
		

</head>	


<body style="background-color: #f1f6f9;">
	
<section>
	<h1 style="color:white;text-align: center;background-image: url('/img/invent1.jpeg');
	height: 100px;font-size: 50px;padding-top: 30px;margin: auto;">
		 INVENTORY MANAGEMENT SYSTEM </h1>
		 <h1 style="text-align: center; color:limegreen ;">--WELCOME USER--</h1>
		  <!-- login here -------------------- -->
		  <h1 style="text-align: center; font-weight: bold;"> Go To Login Page</h1>
    <button style="border-radius: 30px; position:relative;left: 630px;  border:2px solid black; 
    text-align:center;height:50px;width: 100px;background-color: blue;">   <a 
        class="" href="#" th:href="@{/signin}"  
        ><h1 style="color: white;padding-bottom: 40px;">LOGIN</h1></a></button> 
     
       <h1 style="text-align: center; font-weight: bold;"> Go To Signup Page</h1>
        <button style="border-radius: 30px; position:relative;left: 630px;  border:2px solid black; 
    text-align:center;height:50px;width: 100px;background-color: blue;">   <a 
        class="" href="#" th:href="@{/signup/}"  
        ><h1 style="color: white;padding-bottom: 40px;">SIGNUP</h1></a></button> 
     
   
</body>	
	
</html>